CONFIG_IDF_TARGET="esp32p4"

CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_BSP_LCD_TYPE_720_1280_9_INCH_B=y
CONFIG_BSP_LCD_COLOR_FORMAT_RGB565=y
CONFIG_BSP_LCD_DPI_BUFFER_NUMS=2
CONFIG_GRAPE_DISPLAY_DRIVER_WAVESHARE_P4_BSP=y
CONFIG_GRAPE_DISPLAY_DRIVER_NULL=y
CONFIG_GRAPE_DISPLAY_DEFAULT_WAVESHARE_P4_BSP=y
CONFIG_GRAPE_TEXTURE_DEFAULT_PSRAM=y
CONFIG_GRAPE_MAX_DAMAGE_RECTS=16
CONFIG_GRAPE_DAMAGE_TILE_SIZE=16
CONFIG_GRAPE_DAMAGE_RECT_OVERHEAD_PIXELS=1024
CONFIG_GRAPE_DAMAGE_MAX_WORK_RECTS=256
CONFIG_FATFS_LFN_HEAP=y
